aaa new-model

radius server psn-wan-sc1
 address ipv4 10.10.20.25 auth-port 1812 acct-port 1813
 pac key  0  {{ variables.sc1_pac_key }}

aaa group server radius NS-WAC-GROUP
 server name psn-wac-sc1
 timeout 4
 retransmit 3
 attribute nas-port format c

aaa authentication dot1x default group NS-WAC-GROUP
aaa authorization network default group NS-WAC-GROUP
aaa authorization network CTS group NS-WAC-GROUP
aaa authorization network aaa_servers_for_seed_device_nac group NS-WAC-GROUP
aaa accounting update newinfo periodic 2880