aaa accounting network default start-stop group NS-WAC-GROUP
aaa accounting system default start-stop group NS-WAC-GROUP

aaa server radius dynamic-author
 client 10.10.20.25 server-key 7 {{ variables.rid_key_server_key }}
 auth-type any

aaa session-id common