device-sensor filter-list cdp list iseCDP
 tlv name device-name
 tlv name address-type
 tlv name capabilities-type
 tlv name version-type
 tlv name platform-type

device-sensor filter-list dhcp list iseDHCP
 option name host-name
 option name requested-address
 option name parameter-request-list
 option name class-identifier
 option name client-identifier

device-sensor filter-list lldp list iseLLDP
 tlv name system-name
 tlv name system-description
 tlv name system-capabilities
device-sensor filter-spec dhcp include list iseDHCP
device-sensor filter-spec lldp include list iseLLDP
device-sensor filter-spec cdp include list iseCDP
device-sensor notify all-changes

epm logging
access-session attributes filter-list list DS_LIST
 vlan-id
 cdp
 lldp
 dhcp
 http

access-session authentication attributes filter-spec include list DS_LIST